@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('reset.css');
@import url('bootstrap-grid.min.css');
@import url('animate.min.css');
*{box-sizing:border-box;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    color:#333;
    font-size:16px;
}
a,a:link{
    text-decoration:none;
}
.text-center{
    text-align:center;
}
.flex-wrap-wrap{
    flex-wrap:wrap;
}
.flex-direction-column{
    flex-direction:column;
}
.flex-direction-row{
    flex-direction:row;
}
.justify-content-between{
    justify-content:space-between;
}
.align-items-center{
    align-items:center;
}
.d-block{
    display:block;
}
.d-inline-block{
    display:inline-block;
}

.my-15{
    margin-top:15px;
    margin-bottom:15px;
}

/*** header *****/
header{
    padding-top: 8px;
}
.small-logo>a{
    display:inline-block;
    width:42px;
    height:17px;
    background: url(../images/minidaum_v5.png) no-repeat left top;
    background-size:290%;
}
.btn-login{
    width:50px;
    height:24px;
    border:1px solid #e4e4e4;
    font-size:12px;
    line-height:12px;
    color:#666;
    background:#fff;
    cursor:pointer;
    outline:none;
}
.top-right-nav{
    width:150px;
    height:30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.small-email{
    width:24px;
    height:24px;
    background: url(../images/minidaum_v5.png) no-repeat left -23px;
    background-size:545%;   
}
.small-list{
    width:24px;
    height:26px;
    background: url(../images/minidaum_v5.png) no-repeat -35px -22px;
    background-size:545%;   
    position:relative;
    cursor:pointer;
}
.small-navbox{
    position:absolute;
    top:28px;
    right:0;
    z-index:100;
    display:none;
}
.malpoongsun{
    position:absolute;
    top:0;
    right:2px;
    width:25px;
    height:25px;
    z-index:2;
    background:url(../images/minidaum_v5.png) no-repeat -70px -90px;
    background-size:600%; 
}
.small-in-navbox{
    margin-top:16px;
    border:1px solid #cdcdcd;
    background-color:#fff;
}
.small-top-icon{
    padding:18px;
    border-bottom:1px solid #e4e4e4;
}
.small-top-icon .col-3{
    padding-left:20px;
    padding-right:20px;
}
.small-top-icon img{
    width:36px;
    height:36px;
}
.small-top-icon p{
    margin-top:10px;
    font-size:13px;
}
.small-top-icon a{
    font-weight:600;
    text-decoration: none;
}
.small-top-icon a:hover{
    text-decoration:underline;
}
.small-top-list{
    padding:20px 30px;
    font-size:12px;
}
.small-top-list li{
    width:25%;
    border-right:1px solid #e4e4e4;
}
.small-top-list li:last-child{
    border:none;
}
.small-top-list a{
    display:block;
    text-decoration:none;
    line-height:25px;
    padding-left:10px;
    font-weight:300;
}
.small-top-list a:hover{
    text-decoration:underline;
}
.top-right-all{
    padding:15px;
    background-color:#f2f2f2;
    border-top:1px solid #e4e4e4;
    font-size:13px;
}
.top-right-all a{
    text-decoration:none;
}
.top-right-all a:hover{
    text-decoration:underline;
}
.gnb-bar{
    margin-top:20px;
}
.gnb-bar::after{
    content:"";
    display:table;
    clear:both;
}
.logo,.gnb{
    float:left;
}
.logo{
    margin-left:-15px;
    font-size:30px;
    text-decoration:none;
    color:rgb(250, 120, 120);
    font-weight:900;
}
.gnb{
    margin:0;
    padding:0;
    list-style-type:none;
    margin-left:40px;
    display:flex;
    height:35px;
    align-items:center;
}
.gnb a{
    color:#666;
    text-decoration: none;
    font-size:18px;
    margin-right:20px;
}
.gnb a:hover, .gnb a.active{
   color: rgb(250, 120, 120);
   font-weight:500;
}
.table-icon{
    position:relative;
}
.table-icon::after{
    content:"";
    width:32px;
    height:16px;
    top: -16px;
    right: 7px;
    position:absolute;
    background:url(../images/ico_gnb_table.gif) no-repeat;
    background-size: 32px 16px;
}
#search{
    float:right;
}
.search{
    display:flex;
    align-items:center;
    height:30px;
    margin-right:-15px;
}
.search-select{
    margin-right:20px;
    position:relative;
    font-size:14px;
    cursor:pointer;
}
.select-value{
    position:absolute;
    border:1px solid #666;
    width:130%;
    top:25px;
    right:0;
    display:none;
    background:#fff;
    z-index:99;
}
.select-value li{
    padding:10px;
    cursor:pointer;
    font-size:14px;
}
.select-value li:hover{
    background-color:rgb(252, 235, 235);
    text-decoration: underline;
    font-weight:500;
}
.select-value li.active{
    color:rgb(250, 120, 120);
    font-weight:500;
}
input.search-form{
    border:none;
    padding:8px;
    border-radius:5px;
}
input.search-form:focus{
    border:2px solid #333;
}
.search-btn{
    border:none;
    outline:none;
    background:transparent;
    font-size:16px;
    margin-left:5px;
    cursor:pointer;
    text-align:right;
}

/*** section main01 ***/
.slider{
    position:relative;
}
.slider .container{
    padding-top:50px;
    padding-bottom:80px;
    background:url(../images/bnG_e01_01.png) no-repeat right bottom;
    background-size:400px 255px;
    position:relative;
    height:460px;
}

.slider h2{
    font-size:18px;
    font-weight:700;
}
.slider h2>span{
    font-weight:300;
    margin-right:2px;
}
.slide-row{
    top:70px;
    left:0px;
    position:absolute;
    background:#fff;
}
.slider-list{
    margin-top:10px;
}
.zindex{
    z-index:2;
}
.slider-list a{
    text-decoration:none;
    font-size:43px;
    line-height:63px;
    color:#666;
    font-weight:300;
}
.slider-list a span:first-child{
    display:inline-block;
    max-width:600px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:text-top;  
}
.slider-list .sub{
    font-size:14px;
    color:#999;
    display:inline-block;
    width:100px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;  

}
.slider-list a:hover,
.slider-list li.active a{
    font-weight:700;
    color:#333;
}
.slide-btn{
    position:absolute;
    top:220px;
}
.slide-btn.slide-left{
    left:50px;
}
.slide-btn.slide-right{
    right:50px;
}
.slide-btn i{
    font-size:80px;
    color:#666;
}
/*** section main02 ***/
.best-cafe{
    border-top:3px solid #000;
    border-bottom:1px solid #efefef;
    background:#f7f7f7;
    padding-top:80px;
    padding-bottom:50px;
}
.best-cafe-link{
    display:block;
    height:115px;
    background:#fff;
    border:1px solid #efefef;
    border-radius:5px;
    box-shadow:0 1px 4px rgba(0,0,0,.03);
    padding:15px 20px;
}
.best-cafe-link:hover{
    box-shadow:0 1px 4px rgba(0,0,0,.05),
               0 0 10px rgba(0,0,0,0.2);
}
.best-cafe-box{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:100%;
    width:100%;
}
.thumb-img{
    border-radius:50%;
    overflow:hidden;
    width:60px;
    height:60px;
    border:1px solid #e4e4e4;
    box-sizing:content-box;
}
.thumb-img img{
    width:60px;
    height:60px;
    object-fit: cover;
}
.best-cafe-info{
    padding-left:15px;
    width:calc(100% - 60px);
}
.best-cafe-info h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    font-size:16px;
    font-weight:400;
    color:#555;
    margin-bottom:8px;
}
.best-cafe-info p{
    text-decoration: none;
    font-size:14px;
    color:#777;
    margin-bottom:12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.tag{
    font-size:13px;
    color:#999;
}
.tag span{
    margin-right:5px;
}
.tag span:first-child{
    color:rgb(250, 120, 120);
}
.tag span::before{
    content:"#";
}
.best-cafe-add{
    border: 1px dashed #e4e4e4;
    display:block;
    height:115px;
    background:#f9f9f9;
    border-radius:5px;
    box-shadow:0 1px 4px rgba(0,0,0,.03);
    padding:15px 20px;
}
.best-cafe-add:hover{
    background:#fefefe;
}

/*** main03 ***/
.best-table{
   padding-top:80px;
   padding-bottom:80px;
}
.best-table h2{
    font-size: 20px;
}
.list-table li{
   margin:20px 15px 0 0;
   border:1px solid #efefef;
   border-radius:60px;
   height:65px;
   box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.04);
}
.list-table li a{
    display:block;
    overflow:hidden;
    padding-left:15px;
    padding-right:15px;
}
.list-table .thumb-img{
    width:40px;
    height:40px;
}
.table-text{
    line-height:65px;
    font-size:15px;
    overflow:hidden;
    padding-left:15px;
}
.question{
   background-color:rgb(250, 120, 120);
   font-weight:700;
}
.question .table-text{
   color:#fff;
   padding-left:5px;
   padding-right:5px;
}

/** main04 **/
.pop-cafe h2{
    font-size:20px;
    margin-bottom:30px;
    width:50%;
    float:left;
}
.pe40{
    padding-right:40px;
}
.ndate{
    float:right;
}
.ndate span{
    font-weight:700;
}
.pop-list{
    margin-top:50px;
}
.pop-list li{
    border-bottom:1px solid #ededed;
}
.pop-list a{
    display:block;
    padding-top:10px;
    padding-bottom:10px;
}
.pop-list a:hover{
    background-color:#ededed;
}
.pop-list a>div{
    width:100%;
}
.img-thumb{
    width:104px;
    height:65px;
}
.img-thumb img{
    width:104px;
    height:65px;
    object-fit: cover;
    object-position:center top;
}
.pop-list p{
    line-height:65px;
}
.pop-num{
    font-size:20px;
    width:65px;
    text-align:center;
    color:#333;
}
.pop-text{
    color:#666;
    font-size:18px;
    font-weight:300;
    width:390px;
    padding-right:30px;
    overflow: hidden;
    white-space: nowrap;
}
.pop-cafe-list{
    color:#666;
    font-size:14px;
    width:95px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-right:20px;
}
.pop-comment{
    color:#ff5656;
    font-weight:600;
    font-size:14px;
    line-height:65px;
}
.pop-comment::before{
    content:"댓글";
    padding-right:5px;
    color:#666;
    font-weight:400;
}
.paging{
    padding-top:20px;
    padding-bottom:50px;
    text-align:center;
}
.paging a{
    margin:10px;
    font-size:14px;
}
.paging a.active{
    font-weight:700;
    color:#333;
}
.paging button{
    background: none;
    border: none;
    cursor: pointer;
}
.pop-cafe h2.notice-h2{
    float:none;
}
ul.notice{
    margin-bottom:50px;
}
.notice li{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-top:7px;
    padding-bottom:7px;
}
.notice li:first-child a{
    font-size:18px;
    color:#333;
}
.notice li a{
    font-size:13px;
    color:#666;
}
.evbox{
    background:#4260aa;
    height:220px;
    width:100%;
    position:relative;
    overflow:hidden;
}
.evbox p{
   position:absolute;
   font-size:22px;
   color:#fff;
   font-weight:500;
   line-height:30px;
   top:40px;
   left:40px;
   z-index:2;
}
.evbox>.face{
    position:absolute;
    width:200px;
    height:190px;
    border-radius:50%;
    border:5px solid #000;
    background:#fff;
    z-index:1;
    left:180px;
    top:70px;
}

.evbox>.left-eye{
    position:absolute;
    width:10px;
    height:10px;
    border-radius:50%;
    border:5px solid #000;
    /* background:#fff; */
    z-index:2;
    left:260px;
    top:150px;
}

.evbox>.right-eye{
    position:absolute;
    width:10px;
    height:10px;
    border-radius:50%;
    border:5px solid #000;
    /* background:#fff; */
    z-index:2;
    left:290px;
    top:150px;
}

.evbox>.mouse-round{
    position:absolute;
    width:30px;
    height:30px;
    border-radius:50%;
    /* border:5px solid #000; */
    background: #a8e6ff;
    z-index:2;
    left:265px;
    top:160px;
}

.evbox>.mouse1{
    position:absolute;
    width:17px;
    height:17px;
    border-bottom:5px solid #000;
    border-radius: 50%;
    z-index:4;
    left:264px;
    top:160px;
    transform: rotate(-25deg);
}
.evbox>.mouse2{
    position:absolute;
    width:17px;
    height:17px;
    border-bottom:5px solid #000;
    border-radius: 50%;
    z-index:4;
    left:280px;
    top:160px;
    transform: rotate(25deg);
}

.evbox>.mouse1>p, .mouse2>p{
    color: black;
    font-weight: 900;
    font-size: 20px;
}

/* rabbit */
.evbox2{
    background: #ed6d6e;
    height:220px;
    width:100%;
    position:relative;
    overflow:hidden;
}
.evbox2 p{
   position:absolute;
   font-size:22px;
   color:#fff;
   font-weight:500;
   line-height:30px;
   top:40px;
   left:40px;
   z-index:2;
}
.evbox2>.face{
    position:absolute;
    width:200px;
    height:170px;
    border-radius:50%;
    border:5px solid #000;
    background:#fff;
    z-index:0;
    left:180px;
    top:90px;
    background-color: #ffccd3;
    transform: scaleY(0.85);
}

.evbox2>.face-color{
    position:absolute;
    width:180px;
    height:170px;
    border-radius:50%;
    background:#fff;
    z-index:1;
    left:190px;
    top:93px;
    background-color: #ffccd3;
    transform: scaleY(0.85);

}

.evbox2>.left-ear{
    position:absolute;
    width:50px;
    height:100px;
    border-radius:50%;
    border:5px solid #000;
    background:#fff;
    z-index:0;
    left:235px;
    top:35px;
    background-color: #ffccd3;
    transform: rotate(-15deg);
}

.evbox2>.right-ear{
    position:absolute;
    width:50px;
    height:100px;
    border-radius:50%;
    
    border:5px solid #000;
    background:#fff;
    z-index:0;
    left:285px;
    top:35px;
    background-color: #ffccd3;
    transform: rotate(15deg);
}


.evbox2>.left-eye{
    position:absolute;
    width:3px;
    height:3px;
    border-radius:50%;
    border:4px solid #000;
    /* background:#fff; */
    z-index:4;
    left:265px;
    top:160px;
}

.evbox2>.right-eye{
    position:absolute;
    width:3px;
    height:3px;
    border-radius:50%;
    border:4px solid #000;
    /* background:#fff; */
    z-index:4;
    left:298px;
    top:160px;
}

.evbox2>.mouse1{
    position:absolute;
    width:20px;
    height:20px;
    border-bottom:5px solid #000;
    border-radius: 50%;
    z-index:4;
    left:265px;
    top:170px;
    transform: rotate(-25deg);
}
.evbox2>.mouse2{
    position:absolute;
    width:20px;
    height:20px;
    border-bottom:5px solid #000;
    /* border-bottom-left-radius: 45%; */
    border-radius: 50%;
    z-index:4;
    left:285px;
    top:170px;
    transform: rotate(25deg);
}
/* 
    나니즈 색상
        #4260aa
        #a8e6ff

    토끼 색상
        #ed6d6e
        #ffccd3
*/


/* 팬카페 */
.fan-cafe{
    background-color: #f7f7f7;
    padding-bottom: 50px;
    border-top: 0.5px solid #969595;
    border-bottom: 0.5px solid #969595;
}
.fan-cafe-top{
    padding-top: 50px;
    padding-bottom: 20px;
}
.fan-cafe-title>p{
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}
.fan-cafe-title>img{
    width: 40px;
    border-radius: 50%;
}
.fan-cafe-content .person{
    width: 100%;
    height: 100px;
    background-color: white;
}
.fan-cafe-content>*:hover{
    box-shadow:0 1px 4px rgba(0,0,0,.05),
               0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
}
.fan-cafe-content .person>img{
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}
.person .name{
    font-weight: 600;
    margin-bottom: 10px;
}
.person .rank{
    font-size: 12px;
}
.rank>.red-rec{
    font-size: 2px;
    color: red;
    margin-right: 5px;
}
.rank>.yellow-star{
    margin-left: 10px;
    font-size: 2px;
    color: aqua;
    margin-right: 5px;
}

/* 카테고리 */
.category{
    margin-top: 60px;
}
.category-title{
    margin-bottom: 30px;
}
.category-title>p{
    font-size: 20px;
    font-weight: 300;
}
.category-content{
    width: 100%;
    /* flex-flow: nowrap; */
    float: left;
}
.category-title span{
    font-weight: 800;
}
.category-content p{
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;

}
.category-content p:hover{
    text-decoration: underline red;
    cursor: pointer;
}
.category-content .point{
    font-weight: 700;
}
.category-content>*{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width: 768px) {

    .text-sm-center{
        text-align:center;
    }
    .d-sm-flex{
        display:flex;
    }
    .flex-sm-wrap-wrap{
        flex-wrap:wrap;
    }
    .flex-sm-direction-column{
        flex-direction:column;
    }
    .flex-sm-direction-row{
        flex-direction:row;
    }
    .justify-sm-content-between{
        justify-content:space-between;
    }
    .align-sm-items-center{
        align-items:center;
    }
    .d-sm-block{
        display:block;
    }
    .d-sm-inline-block{
        display:inline-block;
    }
    
 }