@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('reset.css');
@import url('bootstrap-grid.min.css');


*{box-sizing: border-box;}

body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    font-size: 16px;
}

.text-center{
    text-align: center;
}

/*      flex     */
.d-flex{
    display: flex;
}

.flex-wrap-wrap{
    flex-wrap: wrap;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-direction-row{
    flex-direction: row;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}
/*      END flex     */

.d-block{
    display: block;
}

.d-inline-block{
    display: inline-block;
}

@media (max-width: 768px){
    .text-sm-center{
        text-align: center;
    }
    
    /*      flex     */
    .d-sm-flex{
        display: flex;
    }
    
    .flex-sm-wrap-wrap{
        flex-wrap: wrap;
    }
    
    .flex-sm-direction-column{
        flex-direction: column;
    }
    
    .flex-sm-direction-row{
        flex-direction: row;
    }
    
    .justify-sm-content-between{
        justify-content: space-between;
    }
    
    .align-sm-items-center{
        align-items: center;
    }
    /*      END flex     */
    
    .d-sm-block{
        display: block;
    }
    
    .d-sm-inline-block{
        display: inline-block;
    }
}

ul{
    list-style-type: none;
}


.daum-logo{
    margin-left: 5px;
}

.cafe-logo{
    width: 5%;
}

.menu{
    width: 65%;
}

.twice-header{
    margin-top: 20px;
}

.search{
    width: 35%;
}

.menu li{
    margin: 10px 10px;
    cursor: pointer;
    font-size: 20px;
}

.menu li:first-child{
    color: red;
}

.menu li:hover{
    color: red;
}

select, input{
    font-size: 16px;
    margin: 15px 5px;
    /* border: 1px dotted #999;*/
    border: none;
}

.search-icon{
    margin: 15px 5px;
}

.header1-2{
    margin-top: 10px;
}

.login-button{
    background-color: white;
    border: 1px dotted #999;
    margin: 0;
    cursor: pointer;
}

.mail, .widgets{
    margin-left: 15px;
    cursor: pointer;
}

select>option:hover{
    background: pink;
}

.select{
    margin-top: 7px;
    /* margin-right: 20px; */
}
.select>li{
    margin-top: 10px;
}

.popup{
    position: absolute;
    /* display: none; */
    width: 100%;
    /* border: 1px solid #999; */
}

.popup:hover{
    background: pink;
}

#popup-menu{
    display: none;
}

.popup:nth-of-type(1){
    top: 45px;
    right: 15px;
}

.popup:nth-child(2){
    top: 70px;
    right: 15px;
}

.popup:nth-child(3){
    top: 95px;
    right: 15px;
}

.popup:nth-child(4){
    top: 120px;
    right: 15px;
}

.down-simbol{
    margin-top: 15px;
    margin-right: 10px;
}

.popupbox{
    cursor: pointer;
    /* position: relative; */
}

.first-popup{
    position: relative;
    width: 100px;
}

